.image-header {
	background: black url("../img/background.jpg");
	background-size: cover;
}

.page-title {
	color: white;
}

.text-center {
	text-align: center;
}

.max-400 {
	max-width: 400px;
}

.offset-right {
	margin-left: 32px;
}

.center-content {
	max-width: 640px;
}

.no-show-link {
	color: white;
}

.no-show-link:hover, .no-show-link:active, .no-show-link:focus {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
}

.profile-img {
	float: left;
	width: 150px;
	margin: 6px 36px 6px 6px;
}

h1, h2, .btn {
	font-family: "La Belle Aurore", cursive;
}

h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}

p, li {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
}

.btn-primary {
	font-size: 24px;
	padding: 12px 24px;
}